In [5]:
#Q1-
#(i)
my_name="Abhay Badoni"
type(my_name)

str

In [6]:
#(ii)
my_list=[3,12.6,"Abhay Badoni",[4,5,6],(3,5,4)]
type(my_list)

list

In [7]:
#(iii)
my_height=172.54
type(my_height)

float

In [8]:
#(iv)
my_tuple=(13,13.24,'c')
type(my_tuple)

tuple

In [1]:
#Q2
#(i)
var1=''
#string
type(var1)

str

In [2]:
#(ii)
var2='[DS, ML, Python]'
#string
type(var2)

str

In [3]:
#(iii)
var3=['DS','ML', 'Python']
#list
type(var3)

list

In [4]:
#(iv)
var4=1
#int
type(var4)

int

In [1]:
#Q3
#(i) / is 'Division' Operator

a = 15
b = 4
print("a/b=",a/b)

a/b= 3.75

In [2]:
#(ii) % is 'modulo' Operator

print("a%b=",a%b)

a%b= 3

In [3]:
#(iii) // is 'floor division' Operator

print("a//b=",a//b)

a//b= 3

In [5]:
#(iv) ** is 'exponentiation' Operator

print("a**b=",a**b)

a**b= 50625

In [3]:
#Q4
ls= [3,2,1.3,22.6,"String",(3,7,6), [3,23,34],{3,2,5},'a',3+4j]

In [4]:
for i in ls:
    print(i, type(i))

3 <class 'int'>
2 <class 'int'>
1.3 <class 'float'>
22.6 <class 'float'>
String <class 'str'>
(3, 7, 6) <class 'tuple'>
[3, 23, 34] <class 'list'>
{2, 3, 5} <class 'set'>
a <class 'str'>
(3+4j) <class 'complex'>

In [4]:
#Q5
A=int(input("Enter A:"))
B=int(input("Enter B:"))
T=A

count = 0

while A%B==0:
    A /= B
    count+=1
if count > 0:
	print(T,"is divisible by",B,"& can be divided:",count,"times")
else:
    print(T,"is not divisible by",B)

Enter A: 225
Enter B: 3

225 is divisible by 3 & can be divided: 2 times

In [1]:
#Q6
ls=[12,11,4,6,3,2,8,5,15,13,19,17,18,21,23,27,31,32,43,51,63,71,89,94,104]

In [2]:
for i in ls:
    if i%3==0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

12 is divisible by 3
11 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
3 is divisible by 3
2 is not divisible by 3
8 is not divisible by 3
5 is not divisible by 3
15 is divisible by 3
13 is not divisible by 3
19 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
23 is not divisible by 3
27 is divisible by 3
31 is not divisible by 3
32 is not divisible by 3
43 is not divisible by 3
51 is divisible by 3
63 is divisible by 3
71 is not divisible by 3
89 is not divisible by 3
94 is not divisible by 3
104 is not divisible by 3

In [2]:
#Q7
#immuatable data types- its value can not be changed once they are created.
#eg.- string , int , float, tuples etc.

#string
my_string="Hello"
my_string[1]='a'

TypeError: 'str' object does not support item assignment

In [3]:
#tuples
my_tuple=(14,35,24)
my_tuple[1]=67

TypeError: 'tuple' object does not support item assignment

In [4]:
#So modification is not possible in immuatable data types

In [5]:
# mutable data types- it allows modification in their values
#eg.- list, dictionary, sets etc.

#list
my_list=[13,12,57,45,"Hello"]
my_list[4]= 41

In [6]:
print(my_list)

[13, 12, 57, 45, 41]

In [7]:
#set
my_set={1,2,3}
my_set.add(4)

In [8]:
print(my_set)

{1, 2, 3, 4}

In [ ]:
#So modification is possible in mutable data types